.map-container {
    display: flex;
    flex-direction: row;
}

.map {
    width: 40%;
    height: 80%;
    position: fixed;
    padding: 0 1rem;
    left: 20vh;
}

.true {
    display: inline-block;
    width: 40%;
    height: 77%;
    position: fixed;
    right: 1rem;
    text-align: center;
    border: solid 10px brown;
    border-radius: 20px;
}

.menuDiv {
    margin: 0 auto;
    border: solid 10px brown;
    border-radius: 20px;
    width: 80%;
    height: 100%;
}

.false {
    display: none;
}