html {
  height: 100%;
  width: 100%;
  font-family: 'Indie+Flower', cursive;
}

body {
  top: 0;
  margin: 0;
  left: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: white; */
  height: 100%;
  width: 100%;
  font-family: 'Indie+Flower', cursive;
}

body > #root > div {
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
