/* .customers-table {
    position: fixed;
    left: 20rem;
    top: 10rem;
    animation: 0.8s rotateIn ease;
} */
  
#customers {
    text-align: center;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    border: 3px solid #ddd;
    width: 100%;
}
  
#customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
}
  
#customers tr {
    background-color: #f2f2f2;
    font-size: 13px;
}
  
#customers tr:hover {background-color: #ddd;}
  
#customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: rgb(184, 193, 204);
    color: white;
}

.add-customer {
    position: fixed;
    left: 15rem;
    margin-top: 1rem;
}