 #carts {
    text-align: center;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    border: 3px solid #ddd;
    width: 100%;
}
  
#carts td, #carts th {
    border: 1px solid #ddd;
    padding: 8px;
    font-family: 'Indie+Flower', cursive;

}
  
#carts tr {
    background-color: #f2f2f2;
    font-size: 13px;
}
  
#carts tr:hover {background-color: #ddd;}
  
#carts th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: rgb(184, 193, 204);
    color: white;
}

.add-cart {
    position: fixed;
    left: 15rem;
    margin-top: 1rem;
    /* background-image: url("../media/add.jpg");
    background-repeat:no-repeat; */
}

.add-cart::before{
    position:absolute;
    top: 10px;
    left: 5px;
    background: url("../media/add.jpg") no-repeat center center;
    width: 32px;
    height: 32px;
 }