.nav-container {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 25vh;
  border: 1px solid brown;
  top: 5rem;
  left: 10rem
}

.nav {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: flex-start;
    background-color: transparent;
    position: fixed;
    left: 1rem;
    top: 4.4rem;
    margin-top: -10px;
    height: auto;
    width: 20vh;
  }

.nav-links {
    width: 40%;
    display: block;
    list-style: none;
    padding: 1rem 0.5rem;
  }

.nav-links a{
      text-decoration: none;
      font-weight: bolder;
      color: brown  }

.nav-links li{
    padding: 0.2rem 0.5rem;
    width: 10vh;
}

.identification {
  position: fixed;
  top: 22rem;
  left: 1rem;
  height: auto;
  width: 20vh;
  margin-top: 3rem;
}

.help {
  position: fixed;
  top: 5rem;
  left: 10rem;
}

h1 {
  padding-left: 9rem;
  color: brown;
}

ul {
  padding-left: 12rem;
  list-style: none;
  color: brown;
}

