@import "../Animated.css";
@import url('https://fonts.googleapis.com/css?family=Indie+Flower');


.nav-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 200px;
  font-family: 'Indie+Flower', cursive;
}

.hidden {
  display: none;
}

.show {
  /* position: fixed; */
  display: inline-block;
  height: 100%;
  width: 100%;
  top: 5.3rem;
  left: 0rem;
  animation: 0.8s slideInUp ease;
}

.menu {
  width: 100%;
  border: 1px solid black;
  border-radius: 100px;
  padding: 12px 0;
  background-color: rgb(152, 190, 187);
  cursor: pointer;
}

.menu:hover {
  background-color: rgb(84, 119, 116);
  color: white;
  box-shadow: 2px 4px gray;
}

.nav {
  display: inline;
}

.nav a{
  background-color:white;
  color: black;
  display: block;
  padding: 12px 0;
  text-decoration: none;
  border: 1px solid black;
  width: 100%;
  border-radius: 300px;
}

.nav a:hover {
  animation: 0.8s pulse ease;
  box-shadow: 2px 2px gray;
}

.identification {
  top: 40rem;
  left: 4rem;
  padding: 12px;
  height: auto;
  margin-top: 3rem;
  position: fixed;
}

.help {
  position: fixed;
  top: 5rem;
  left: 10rem;
}

h1 {
  color: brown;
}

ul {
  list-style: none;
  color: brown;
}

