.App {
  text-align: center;
  min-height: 100vh;
  min-width: 100vh;
  display: flex;
}

.App-resource {
  margin: 0.1rem;
  padding: 0.1rem;
  text-align: left;
}

.App-content {
  margin-top: 60px;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.customers-table {
  position: fixed;
  left: 15rem;
  top: 10rem;
  animation: 0.8s fadeInDown ease;
}

.carts-table {
  position: fixed;
  left: 15rem;
  top: 10rem;
  animation: 0.8s fadeInLeftBig ease;
}

.orders-table {
  position: fixed;
  left: 15rem;
  top: 10rem;
  animation: 0.8s fadeInUpBig ease;
}

button:hover {
  cursor: pointer;
}

/* .home {
  background-image: url(../components/media/hotdog.jpg);
  width: 100%;
} */